Repository ravencloak-org/ravencloak: changes, and which Woodpecker steps are due for each by the changed paths.
All: auth, build, keycloak-spi

.woodpecker/auth.yml:

# Auth Backend - Build & Test (Push/PR/Manual)
when:
  - event: [push, pull_request, manual]
    path:
      include:
        - "src/**"
        - "build.gradle.kts"
        - "settings.gradle.kts"
        - ".woodpecker/auth*.yml"
      exclude:
        - "keycloak-spi/**"

steps:
  - name: build
    image: eclipse-temurin:21-jdk
    environment:
      GRADLE_USER_HOME: /root/.gradle
      CI: "true"
      S3_BUILD_CACHE_BUCKET:
        from_secret: s3_build_cache_bucket
      S3_BUILD_CACHE_REGION:
        from_secret: s3_build_cache_region
      S3_BUILD_CACHE_ACCESS_KEY_ID:
        from_secret: s3_build_cache_access_key_id
      S3_BUILD_CACHE_SECRET_KEY:
        from_secret: s3_build_cache_secret_key
      S3_BUILD_CACHE_ENDPOINT:
        from_secret: s3_build_cache_endpoint
    commands:
      - echo "Building Auth Backend..."
      - ./gradlew compileKotlin bootJar --no-daemon -x :keycloak-spi:compileKotlin -x test
      - echo "Build successful!"
    volumes:
      - /opt/woodpecker-cache/gradle:/root/.gradle

.woodpecker/build.yml:

when:
  - event: [push, manual]
    branch: [master, main]
    path:
      include:
        - "keycloak-spi/**"
        - ".woodpecker/**"

steps:
  - name: build-spi
    image: eclipse-temurin:21-jdk
    commands:
      - ./gradlew :keycloak-spi:shadowJar --no-daemon
      - mkdir -p /shared/providers
      - rm -f /shared/providers/keycloak-user-storage-spi*.jar
      - cp keycloak-spi/build/libs/keycloak-user-storage-spi-*.jar /shared/providers/keycloak-user-storage-spi.jar
    volumes:
      - /opt/keycloak-providers:/shared/providers

.woodpecker/keycloak-spi.yml:

# Keycloak SPI - Build & Test (Push/PR/Manual)
when:
  - event: [push, pull_request, manual]
    path:
      include:
        - "keycloak-spi/**"
        - ".woodpecker/keycloak-spi*.yml"
        - "build.gradle.kts"
        - "settings.gradle.kts"

steps:
  - name: restore-cache
    image: meltwater/drone-cache
    volumes:
      - /var/lib/woodpecker/cache:/cache
    settings:
      backend: filesystem
      restore: true
      archive_format: gzip
      filesystem_cache_root: /cache
      cache_key: "gradle-wrapper"
      mount:
        - .gradle

  - name: build-and-test
    image: eclipse-temurin:21-jdk
    environment:
      GRADLE_USER_HOME: .gradle
      CI: "true"
      S3_BUILD_CACHE_BUCKET:
        from_secret: s3_build_cache_bucket
      S3_BUILD_CACHE_REGION:
        from_secret: s3_build_cache_region
      S3_BUILD_CACHE_ACCESS_KEY_ID:
        from_secret: s3_build_cache_access_key_id
      S3_BUILD_CACHE_SECRET_KEY:
        from_secret: s3_build_cache_secret_key
      S3_BUILD_CACHE_ENDPOINT:
        from_secret: s3_build_cache_endpoint
    commands:
      - |
        echo "Verifying S3 cache config..."
        echo "Bucket: $S3_BUILD_CACHE_BUCKET"
        echo "Region: $S3_BUILD_CACHE_REGION"
        echo "Endpoint: $S3_BUILD_CACHE_ENDPOINT"
        echo "Access Key length: ${#S3_BUILD_CACHE_ACCESS_KEY_ID}"
        echo "Secret Key length: ${#S3_BUILD_CACHE_SECRET_KEY}"
      - echo "Building and testing Keycloak SPI module..."
      - ./gradlew :keycloak-spi:compileKotlin :keycloak-spi:test :keycloak-spi:shadowJar --no-daemon
      - echo "Build successful!"

  - name: save-cache
    image: meltwater/drone-cache
    volumes:
      - /var/lib/woodpecker/cache:/cache
    settings:
      backend: filesystem
      rebuild: true
      archive_format: gzip
      filesystem_cache_root: /cache
      cache_key: "gradle-wrapper"
      mount:
        - .gradle

Add app environment variables to deploy step via Woodpecker secrets
  .woodpecker/release-all.yml
  scripts/add-woodpecker-secrets.sh
Due: build

Handle empty secret values in add-woodpecker-secrets script
  scripts/add-woodpecker-secrets.sh
Due: none

Fix YAML parsing error in Docker commands
  .woodpecker/release-all.yml
Due: build

Update auth version badge to v1.0.7
  README.md
Due: none

Add missing caching to auth.yml and auth-release.yml
  .woodpecker/auth-release.yml
  .woodpecker/auth.yml
Due: auth, build

Add standalone deploy pipeline for manual triggers
  .woodpecker/deploy.yml
Due: build

Add deployment event trigger to deploy.yml
  .woodpecker/deploy.yml
Due: build

Add variable filters for targeted manual pipeline triggers
  .woodpecker/auth.yml
  .woodpecker/deploy.yml
  .woodpecker/keycloak-spi-release.yml
  .woodpecker/keycloak-spi.yml
  .woodpecker/release-all.yml
Due: auth, build, keycloak-spi

Update version badges to
  README.md
Due: none

Fix Docker buildx cache export by creating docker-container driver
  .woodpecker/auth-release.yml
  .woodpecker/release-all.yml
Due: auth, build

Copy keycloak-spi/build.gradle.kts for Gradle multi-module config
  Dockerfile
Due: none

Fix keycloak-spi JAR version and add Keycloak restart after deploy
  .woodpecker/keycloak-spi-release.yml
  .woodpecker/release-all.yml
  keycloak-spi/build.gradle.kts
Due: build, keycloak-spi

Fix JAR copy in deploy steps with debugging and flexible pattern
  .woodpecker/keycloak-spi-release.yml
  .woodpecker/release-all.yml
Due: build, keycloak-spi

Fix github-release step to find JAR dynamically
  .woodpecker/keycloak-spi-release.yml
Due: build, keycloak-spi

Add Woodpecker CI documentation and update project docs
  .woodpecker/README.md
  CLAUDE.md
  README.md
Due: build

Update Keycloak client ID and enhance documentation for user search and ParadeDB setup
  CLAUDE.md
  docker-compose.yml
  docker/init-db.sql
  src/main/resources/application.yml
  src/main/resources/db/migration/V2__paradedb_extensions.sql
  src/main/resources/db/migration/V3__user_search_and_keycloak_mapping.sql
Due: auth

Add Keycloak realm management API with sync service
  src/main/kotlin/com/keeplearning/auth/config/KeycloakAdminConfig.kt
  src/main/kotlin/com/keeplearning/auth/config/WebClientConfig.kt
  src/main/kotlin/com/keeplearning/auth/domain/entity/KcClient.kt
  src/main/kotlin/com/keeplearning/auth/domain/entity/KcGroup.kt
  src/main/kotlin/com/keeplearning/auth/domain/entity/KcRealm.kt
  src/main/kotlin/com/keeplearning/auth/domain/entity/KcRole.kt
  src/main/kotlin/com/keeplearning/auth/domain/entity/KcSyncLog.kt
  src/main/kotlin/com/keeplearning/auth/domain/entity/KcUserStorageProvider.kt
  src/main/kotlin/com/keeplearning/auth/domain/entity/User.kt
  src/main/kotlin/com/keeplearning/auth/domain/repository/KcClientRepository.kt
  src/main/kotlin/com/keeplearning/auth/domain/repository/KcGroupRepository.kt
  src/main/kotlin/com/keeplearning/auth/domain/repository/KcRealmRepository.kt
  src/main/kotlin/com/keeplearning/auth/domain/repository/KcRoleRepository.kt
  src/main/kotlin/com/keeplearning/auth/domain/repository/KcSyncLogRepository.kt
  src/main/kotlin/com/keeplearning/auth/domain/repository/KcUserStorageProviderRepository.kt
  src/main/kotlin/com/keeplearning/auth/domain/repository/UserRepository.kt
  src/main/kotlin/com/keeplearning/auth/keycloak/client/KeycloakAdminClient.kt
  src/main/kotlin/com/keeplearning/auth/keycloak/client/dto/KeycloakDtos.kt
  src/main/kotlin/com/keeplearning/auth/keycloak/sync/KeycloakSyncService.kt
  src/main/kotlin/com/keeplearning/auth/keycloak/sync/StartupSyncRunner.kt
  src/main/kotlin/com/keeplearning/auth/realm/controller/RealmController.kt
  src/main/kotlin/com/keeplearning/auth/realm/dto/RealmDtos.kt
  src/main/kotlin/com/keeplearning/auth/realm/service/RealmService.kt
  src/main/resources/application.yml
  src/main/resources/db/migration/V4__realm_management_and_user_realm.sql
Due: auth

Fix Jackson 3 imports and ObjectMapper bean configuration
  src/main/kotlin/com/keeplearning/auth/config/WebClientConfig.kt
  src/main/kotlin/com/keeplearning/auth/keycloak/sync/KeycloakSyncService.kt
  src/main/kotlin/com/keeplearning/auth/realm/service/RealmService.kt
Due: auth

Add S3 build cache with Cloudflare R2 support and cache metrics
  .env.sample
  .gitignore
  .woodpecker/auth-release.yml
  .woodpecker/auth.yml
  .woodpecker/keycloak-spi-release.yml
  .woodpecker/keycloak-spi.yml
  .woodpecker/release-all.yml
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/com/keeplearning/gradle/BuildCacheInternalMetricsService.kt
  buildSrc/src/main/kotlin/com/keeplearning/gradle/BuildCacheMetricsPlugin.kt
  buildSrc/src/main/kotlin/com/keeplearning/gradle/BuildCacheMetricsService.kt
  settings.gradle.kts
Due: auth, build, keycloak-spi

Fix Gradle lock timeout in CI by clearing stale locks
  .woodpecker/auth-release.yml
  .woodpecker/auth.yml
  .woodpecker/keycloak-spi-release.yml
  .woodpecker/keycloak-spi.yml
  .woodpecker/release-all.yml
Due: auth, build, keycloak-spi
