Repository ravencloak-org/ravencloak: changes, and which Woodpecker steps are due for each by the changed paths.
All: auth, build, keycloak-spi

auth:
  steps:
  - name: build-and-test
    image: eclipse-temurin:21-jdk
    commands:
    - echo "Building and testing Auth Backend..."
    - ./gradlew compileKotlin test bootJar --no-daemon --build-cache -x :keycloak-spi:compileKotlin -x :keycloak-spi:test
    - echo "Build successful!"
    volumes:
  ...

build:
  steps:
  - name: build-spi
    image: eclipse-temurin:21-jdk
    commands:
    - ./gradlew :keycloak-spi:shadowJar --no-daemon
    - mkdir -p /shared/providers
    - rm -f /shared/providers/keycloak-user-storage-spi*.jar
  ...

keycloak-spi:
  steps:
  - name: build-and-test
    image: eclipse-temurin:21-jdk
    commands:
    - echo "Building and testing Keycloak SPI module..."
    - ./gradlew :keycloak-spi:compileKotlin :keycloak-spi:test :keycloak-spi:shadowJar --no-daemon --build-cache
    - echo "Build successful!"
    volumes:
  ...

Consolidate Woodpecker pipeline steps to avoid Gradle cache lock conflicts
  .woodpecker/auth.yml
  .woodpecker/keycloak-spi-release.yml
  .woodpecker/keycloak-spi.yml
Due: auth, build, keycloak-spi

Add Woodpecker CI step to update README with version badges
  .woodpecker/auth-release.yml
  .woodpecker/keycloak-spi-release.yml
  README.md
Due: auth, build, keycloak-spi

Add auto-generated changelog to release pipelines and update CI documentation
  .woodpecker/auth.yml
  .woodpecker/keycloak-spi-release.yml
  .woodpecker/release-all.yml
  README.md
Due: auth, build, keycloak-spi

Add changelog to release CI
  .woodpecker/auth-release.yml
  .woodpecker/auth.yml
  .woodpecker/keycloak-spi.yml
  .woodpecker/release-all.yml
  README.md
  gradle.properties
  release-config.ts
Due: auth, build, keycloak-spi

Update version badges in README for auth and Keycloak SPI
  .woodpecker/auth-release.yml
  .woodpecker/keycloak-spi-release.yml
  .woodpecker/release-all.yml
  README.md
Due: auth, build, keycloak-spi

Update version badges to
  README.md
Due: none

Enhance for existing releases
  .woodpecker/auth-release.yml
  .woodpecker/keycloak-spi-release.yml
  .woodpecker/release-all.yml
Due: auth, build, keycloak-spi

Refactor build configurations to improve Gradle caching and streamline commands
  .woodpecker/auth-release.yml
  .woodpecker/auth.yml
  .woodpecker/keycloak-spi-release.yml
  .woodpecker/keycloak-spi.yml
  .woodpecker/release-all.yml
  gradle.properties
Due: auth, build, keycloak-spi

Add S3 build cache configuration and update CI environment variables
  .env.sample
  .woodpecker/auth-release.yml
  .woodpecker/auth.yml
  .woodpecker/keycloak-spi-release.yml
  .woodpecker/keycloak-spi.yml
  .woodpecker/release-all.yml
  README.md
  gradle.properties
  settings.gradle.kts
Due: auth, build, keycloak-spi

Add Woodpecker CI script for managing S3 build cache secrets and update Gradle plugin version
  build.gradle.kts
  scripts/add-woodpecker-secrets.sh
  settings.gradle.kts
  src/test/kotlin/com/keeplearning/auth/KosAuthBackendApplicationTests.kt
Due: auth, keycloak-spi

Remove Woodpecker CI volume configuration for Gradle caching from release YAML files
  .woodpecker/auth-release.yml
  .woodpecker/auth.yml
  .woodpecker/keycloak-spi-release.yml
  .woodpecker/keycloak-spi.yml
  .woodpecker/release-all.yml
Due: auth, build, keycloak-spi

Add whitespace trimming function and S3 cache verification logs
  .woodpecker/keycloak-spi.yml
  scripts/add-woodpecker-secrets.sh
Due: build, keycloak-spi

Fix env file loading in secrets script
  scripts/add-woodpecker-secrets.sh
Due: none

Add Gradle wrapper caching with meltwater/drone-cache
  .woodpecker/keycloak-spi-release.yml
  .woodpecker/keycloak-spi.yml
  .woodpecker/release-all.yml
Due: build, keycloak-spi

Switch Gradle cache to local filesystem backend
  .woodpecker/keycloak-spi-release.yml
  .woodpecker/keycloak-spi.yml
  .woodpecker/release-all.yml
Due: build, keycloak-spi

Use direct volume mount for Gradle cache instead of plugin
  .woodpecker/keycloak-spi-release.yml
  .woodpecker/keycloak-spi.yml
  .woodpecker/release-all.yml
Due: build, keycloak-spi

Fix changelog and README badge updates in release pipelines
  .woodpecker/keycloak-spi-release.yml
  .woodpecker/release-all.yml
  README.md
Due: build, keycloak-spi

Add Dockerfile and Docker build/deploy to release pipeline
  .woodpecker/release-all.yml
  Dockerfile
Due: build

Add Docker build caching for faster CI builds
  .woodpecker/release-all.yml
  Dockerfile
Due: build

Ensure Docker image matches release tag and only builds auth app
  .woodpecker/release-all.yml
  Dockerfile
Due: build

Path conditions:
  auth: any of: src/**, build.gradle.kts, settings.gradle.kts, .woodpecker/auth*.yml, but not: keycloak-spi/**
  build: any of: keycloak-spi/**, .woodpecker/**
  keycloak-spi: any of: keycloak-spi/**, .woodpecker/keycloak-spi*.yml, build.gradle.kts, settings.gradle.kts
